body{
    max-width: 1920px;
    height: 100%;
    margin: auto;
    background-color:rgb(138, 54, 70);
}

/* Header */
.head{
    margin: auto;
  width: 85%;
  border: 2px solid black;
}
.header{
    background-image: url(img/pink-background-with-focus-pink-liquid-background-soft-blurred-abstract-pink-roses-background-liquify-painted-background-brush-stroked-painting-colorful-marble-texture-papercut-style-liquid-bg-free-vector.jpg);
    background-repeat: no-repeat;
    height: 150px;
}
/* body */
.body{
    height: 1000px;
    width: 85%;
    border: 2px solid black;
    background-color: rgb(240, 215, 219);
    margin: auto;
    margin-top: 3px;
}

/* up */
.upp{
    background-color: rgb(242, 193, 201);
    display: flex;
    height: 50px;
    gap: 10%;
    margin: 4px;
    border: 1px solid olive;
    padding-left: 3%;
}

/* middle */
.middle-para{
    display: flex;
    gap: 5%;
}
.gallery{
    width: 75%;
    padding-left: 15px;
    line-height: 30px;
}
.main--menu{
    width: 25%;
    gap: 5%;
}
/* last-para */
.last-para{
    display: flex;
    line-height: 30px;
    gap: 10%;
}
.subscription{
    width: 35%;
    padding-left: 15px;
    padding-right: 10px;
}
.other{
    width: 35%;
    padding-left: 5px;
}
.block{
    width: 20%;
    padding-right: 15px;
}
button{
    padding: 5px;
    background-color: blanchedalmond;
    color: black;
    font-weight: bold;
}
footer{
    height: 30px;
    background-color: pink;
    font-weight: bold;
    text-align: center;
    padding: 3%;
    margin-top: 3%;

}